*{margin: 0;padding: 0;box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.preview{
  flex: 1;
  height: 40%;
}
.style-part{
  height: 60%;
  flex: 1;
}

#code{
  overflow: hidden;
  height: 100%;
}
